extends layout

block content
	style.
		.coming-image {
			background:#ef6d26 !important;
			background-color:#ef6d26 !important;
		}
	include menu 
	.page-contn.p-0
		.page-width.p-0
			.coming-image.pt-5.pt-lg-0
			.container-fluid.coming-image.p-0
				img(src="/images/coming-soon.jpg")
			include footer
