.card-body.p-0.work-categories
    mixin categories(name)
        li.categories= name
            i.lni.lni-chevron-right.float-right
    ul.p-0.m-0.job-li#jobAnchors
        +categories('A')
        +categories('B')
        +categories('C')
        +categories('D')
        +categories('E')
        +categories('F')
        +categories('F')
        +categories('G')
        +categories('H')
        +categories('I')
        +categories('J')
        +categories('K')
        +categories('L')
        +categories('M')
        +categories('O')
        +categories('P')
        +categories('Q')
        +categories('R')
        +categories('S')
        +categories('T')
        +categories('U')
        +categories('V')
        +categories('W')
        +categories('X')
        +categories('Y')
        +categories('Z')