<script>var firstname = '',
        lastname = ''
    userId = '',
        email = ''
</script>
<div class="chat-body container-fluid p-0 chat-bg col-md-8 col-lg-9 col-12">
    <div class="chat-header container-fluid fade-out">
        <div class="row">
            <div class="col-4 p-3 pl-3 agent-name">
                <div class="d-flex p-0 m-0">
                    <!--.agent-status i.fa.fa-user
          -->
                    <div class="agent-name pl-2 text-left">Faulty Car
                        <div class="agent-title">Car Mechanic</div>
                    </div>
                </div>
            </div>
            <div class="col-6 p-3"></div>
            <div class="col-2 pl-2 dot-menu text-right pt-3 pr-2">
                <button><i class="lni lni-more"></i></button>
                <div class="chat-options position-absolute fade-out">
                    <ul class="p-0 m-0 text-left">
                        <li class="muter"><span class="pr-2"><i class="lni lni-volume-mute muter-icon"></i></span><span
                                class="muter-text">Mute chat</span></li>
                        <li><span class="pr-2"><i class="lni lni-close"></i></span>End chat</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-content container-fluid pt-3">
        <div class="chat-initiator">
            <div class="text-center pt-5 mt-5 chat-session-btns container-fluid fade-out">
                <div class="row">
                    <div class="col-12 col-md-6 text-lg-right text-center"><a
                            class="primary-btn -resume-chat m-3">continue chat</a></div>
                    <div class="col-12 col-md-6 text-lg-left text-center mt-lg-0 mt-5"><a
                            class="primary-btn -start-chat m-3">start chat</a></div>
                </div>
            </div>
            <div class="chat-initiator-content">
                <div class="d-flex justify-content-center p-0">
                    <div class="chat-initiator-btns text-center col-12 col-md-6 col-lg-5">
                        <div class="search-jobs form-group mt-1">
                            <form class="chat-search-form">
                                <input class="search form-control" id="search" type="search" autocomplete="on"
                                    name="searchjobs" placeholder="Search and select an expert here" required><span
                                    class="filter-icon p-0">
                                    <button class="m-3"><i class="lni lni-keyword-research pl-1"></i></button></span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center p-0">
                    <div class="col-12 col-md-6 col-lg-5 position-relative">
                        <div class="container-fluid chat-reply-contn p-0 m-0 col-12"></div>
                    </div>
                </div>
                <form class="m-0 p-0 start-chat-form">
                    <div class="d-flex justify-content-center p-0">
                        <div class="col-12 col-md-6 col-lg-5 position-relative">
                            <div class="agent-type pl-0 pt-0 pb-3 text-left position-relative fade-out">
                                <input class="agent-type-opt" required disabled type="text"><i
                                    class="lni lni-close cancel-agent-type"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center p-0">
                        <div class="col-12 col-md-6 col-lg-5 position-relative">
                            <textarea class="chat-info form-control position-relative" id="chat-info" type="text"
                                placeholder="Enter your question here" required></textarea>
                        </div>
                    </div>
                    <div class="text-center d-flex justify-content-center">
                        <button class="primary-btn btn-shadow m-1 start-chat-btn nullified" type="submit" disabled>start
                            chat</button><a class="secondary-btn red btn-shadow m-1 clear-start-chat-form">cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <ul class="chat-list fade-out">
            <!--li.chat-title-contn
      .chat-title
      	| Linda (support) joined the chat
      -->
            <!--li.bubbleWrapper#myId
      .inlineContainer
      	.agentBubble.chat-bubble
      		| Hello i am here to help connect you with the right person to answer your question to your satisfaction
      .agent-chat-name Linda
      	span.agent-chat-time 08:41
      -->
            <!--li.bubbleWrapper
      .inlineContainer.client
      	.clientBubble.chat-bubble
      		| alright, thanks
      			i.lni.lni-checkmark-circle
      .client-chat-name 
      	span.client-chat-time 08:55
      -->
            <!--li.chat-title-contn
      .chat-title
      	| Linda added Mike to the chat
      -->
        </ul>
    </div>
    <div class="chat-footer container-fluid pl-0 pr-0 fade-out">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-1 pl-4 pt-2 pb-2 pr-0 pl-lg-5">
                    <button class="send-emoji"><i class="lni lni-emoji-happy"></i></button>
                </div>
                <div class="col-9 pl-3 plg-md-2 pt-2 pb-2">
                    <form class="chat-form">
                        <input class="chat-box" required>
                        <button class="send-chat" type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
                <div class="col-2 pl-0 pt-2 pb-2 pr-4">
                    <div class="row">
                        <div class="col-6 p-0 text-left text-lg-right">
                            <button class="send-attachment postion-relative"><i class="lni lni-paperclip"></i>
                                <div class="attachment-opt position-absolute text-left attachments-slide-right">
                                    <div class="attachment-one attachments attachments-slide-right mb-3"><i
                                            class="lni lni-add-files"></i>
                                        <p class="pt-1">Document</p>
                                    </div>
                                    <div class="attachment-two attachments attachments-slide-right mb-3"> <i
                                            class="lni lni-camera"></i>
                                        <p class="pt-1">Camera</p>
                                    </div>
                                    <div class="attachment-three attachments attachments-slide-right mb-3"><i
                                            class="lni lni-gallery"></i>
                                        <p class="pt-1">Gallery</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-6"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid border-top emoji-box closed position-relative"><a
                class="close-emoji-box position-absolute border-0 ml-3 pb-2"><i class="lni lni-chevron-down"></i></a>
        </div>
    </div>
</div>