.d-flex.justify-content-center.work-wrap
	.container-fluid.pt-1
		.row
			.col-12.text-left.pl-0.pr-0.pb-2
				h5 Search for experts and get answers
			.col-12.p-0.col-md-6.pr-md-4
				.search-jobs.form-group.mt-1
					include work-list
					//form.search-form
						input#search.search(type="search"/*,onkeyup="searchDB(this)"*/,autocomplete='on', name="searchjobs", placeholder="Search for any keyword e.g law" required).form-control
						span.search-icon.hide
							i.lni.lni-keyword-research
						span.filter-icon.p-0
							button.m-3
								i.lni.lni-keyword-research.pl-1
				.container-fluid.work-list.bg-none 
					.search-img
						img(src="/images/search.png")
				.container-fluid.reply-contn.p-0.m-0.fade-out                  
			.col-12.col-md-6.pt-md-3.mt-md-3
				.row
					.col-6.pl-0
						.dash-opt.p-4.text-center(title="edit account details").-edit-profile
							i.fa.fa-user-edit.dash-opt-icon
							p.pt-2 Edit account
					//.col-6.pr-0
						.dash-opt.p-4.text-center(title="check your conversations").-chat
							i.fa.fa-comment-alt.dash-opt-icon
							p.pt-2 Chats
					.col-6.pl-0
						.dash-opt.p-4.text-center(title="get help from support").-get-help
							i.lni.lni-question-circle.dash-opt-icon
							p.pt-2 Get help
					.col-6.pl-0.mt-5
						a(href="/logout")
							.dash-opt.p-4.text-center(title="Logout")
								i.lni.lni-exit.dash-opt-icon
								p.pt-2 Logout