.d-flex.justify-content-center.work-wrap
	.container-fluid.pt-1
		.row
			.col-12.p-0.col-md-6.col-lg-5
				.search-jobs.form-group.mt-1
					form.search-form
						input#search.search(type="search"/*,onkeyup="searchDB(this)"*/,autocomplete='on', name="searchjobs", placeholder="Search for any keyword e.g law" required).form-control
						span.search-icon.hide
							i.lni.lni-keyword-research
						span.filter-icon.p-0
							button.m-3
								i.lni.lni-keyword-research.pl-1
				.container-fluid.work-list.bg-none 
					.search-img
						img(src="/images/search.png")
				.container-fluid.reply-contn.p-0.m-0.fade-out                  