link(rel='stylesheet', href='/stylesheets/dashboard.css')
link(rel='stylesheet', href='/stylesheets/chat.css')
link(rel='stylesheet', href='/stylesheets/setting.css')
link(rel='stylesheet', href='/stylesheets/help.css')
script(src="/jquery.min.js")
script.
  $('.back-to-dashboard').fadeOut('fast');
  var firstname = '!{firstname}',
    lastname = '!{lastname}',
    email = '!{email}';
