extends layout

block content
	include menu
	.page-contn.p-0
		.page-width.p-0.pt-4
			.pt-1
				.form-gap
				.error-contn.text-center.col-12
					if (mail_msg)
						.error #{mail_msg}
					else 
						.error.fade-out
				.container.fluid.pt-5
					.row          
						.col-12.d-flex.justify-content-center
							.col-md-4.col-md-offset-4
								div.data-saver(data-val=userId)
									form.email-form
										.text-center
											if (type) 
												- var type = '!{type}'
												h3.text-center.pt-3.thick Change Email Address 
											else 
												h3.text-center.pt-3.thick Update Email Address
											.panel-body
												.form.pt-3
													.form-group.text-center
														if (type) 
															label(for='oldemail').text-left Current email address:
																input#oldemail.mt-3.form-control(type='email', name='oldemail', value='',required)
															br
															label(for='newemail').text-left New email address:
																input#newemail.mt-3.form-control(type='email', name='newemail', value='',required)
															.form-group.text-center.pt-3
																button(type="submit").primary-btn.update-email submit
																button(type="button").primary-btn.cancel-change-password.mt-2.ml-2 cancel  
														else
															label(for='pass').text-left Enter email address
																input#email.mt-3.form-control(type='email', name='email', value='',required)
															.form-group.text-center.pt-3
																button(type="submit").primary-btn.update-email update email