block content
	style.
		#headinOne li{
			margin: 0 !important;
		}
		.card-body li{
			cursor:pointer;
		}
	.error-contn.justify-content-center.text-center.col-12
		.col-lg-4.col-md-4.error.fade-out
	footer.footer.pt-5
		.container-fluid
			.row
				.col-12.footer-nav.pl-md-5.pr-md-5.pl-4.pr-4
					.row.text-left
						.col-md-6.col-lg-3.col-12.pb-4
							h6.footer-title Members
							ul
								li
									a(href="/expatriates") Expatriates(foreigners) corner
								li
									a(href="/questions") General questions
								li
									a(href="/jobs") Find experts
								li
									a(href="/how-it-works") How it works
								li
									a(href="/login").login-anchor
										span Login
								li.mb-0
									a(href="/signup") Create an account
						.col-md-6.col-lg-2.col-12.pb-4
							h6.footer-title OHE
							ul
								li
									a(href="/") Home
								li
									a(href="/blog") Blog
								li
									a(href="/faq") FAQ
								li
									a(href="/contact") Contact Us
						.col-md-6.col-lg-4.col-12.pb-4
							h6.footer-title Popular questions
							ul
								li
									a(href="/questions") How can I start an online business?
								li
									a(href="/questions") How do I stop my addiction to drugs?
								li
									a(href="/questions") I want to sue someone, how do I go about this?
								li
									a(href="/questions") How can I treat a gunshot and a deep knife cut?
								li
									a(href="/questions") I think I have been kidnapped, what can I do urgently?
						.col-12.col-md-6.col-lg-3.pb-4
							h6.footer-title follow us
							.container-fluid.text-center.p-0
								.d-flex.justify-content-center.pt-2.p-0.mt-4.mb-4
									//.col-3.follow-links
										a(href="#", title="Follow us on Twitter")
											i.lni.lni-twitter-filled
									.col-3.follow-links
										a(href="https://www.facebook.com/Oprofinder/", title="Follow us on Facebook")
											i.lni.lni-facebook-filled
									.col-3.follow-links
										a(href="https://www.instagram.com/oprofinder/", title="Follow us on Instagram for latest updates")
											i.lni.lni-instagram-filled
									.col-3.follow-links
										a(href="https://www.linkedin.com/company/oprofinder", title="Follow us on Linkedin for latest updates")
											i.lni.lni-linkedin-original
								.col-12.pt-3.p-0
									form.get-update-form
										label
											h6.footer-title.mb-3 Get Updates
										.updates-form-child.border.fade-out
											.close-updates-form-child
												i.lni.lni-close#close-updates-form-child
											label.text-left
												input(type="checkbox", onclick="checkUpdatesBtnStat()" checked).mt-1.getUpdates
												| I want to receive OHE news, special offers and updates.
											label
												span By clicking the Send button, you agree to our 													
												a(href="/privacy") Privacy Policy
												|.
												.pt-2
													button(type="submit").send-updates.primary-btn.p-1 send
										.updates-form
											input.form-group#updateEmail(type="email", name="update", placeholder="Email" required).border
											a.primary-btn.form-group.proceed-updates
												i.lni.lni-chevron-right
				.col-12.col-md-12.pl-3.last-footer-item
					.row.pl-md-5.pr-md-5.pl-3.pr-3
						.col-12.col-md-10.text-left.pl-0.py-md-3
							.row 
								.col-12.col-md-2.px-4.pt-3.px-0.text-center.text-md-left
									a(href="/") 
										img(src="/images/logo.png", alt="OHE").footer-logo
								.col-12.col-md-4.text-center.text-md-left.py-2.px-4.px-0
									small &copy; 2019-2021 OHE. All rights reserved.
								.col-12.col-md-6.text-center.py-2.px-0.text-md-left
									small
										a(href="/privacy").mx-1 Privacy policy
										||
									small
										a(href="/tac").mx-1 Terms &#38; Conditions
										||
									small
										a(href="/contact").mx-1 Contact Us