extends layout

block content
	include menu
	.page-contn.p-0
		.page-width.p-0.mt-5.mt-md-0
			.container-fluid.mt-5.pt-5.pt-md-4.mt-md-0.general-contn
				h2.head-tag.text-center.p-md-2.pt-md-0.pt-5.pb-5 General questions
			.container-fluid.py-5.px-4.px-md-5.general-questions
				.row 
					.col-12.col-md-6.py-md-2
						h5 Agriculture, Food and Natural Resources 
						section 
							ul.p-0
								style.
									.general-questions ul {
										list-style-type: none;
									}		
									.general-questions li
										{
										padding-top: 5px;
										padding-bottom: 5px;
									}	
									.general-questions li .fa-dot-circle {
										color: #fd6f53 !important;
									}				
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|Can I get a video call guide on how to mix feeds for my pigs?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|My farm seems to have lots of insects and grasshoppers, what can I do to send them away, they are destroying my crops?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I want to start an agricultural business, what are the things I need to do? What do you advise?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|My dog is sick, and I can't find any veterinary doctor nearby?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|How can I make a Chinese meal in Nigeria?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|Can you teach me how to make different meals on video call?
					.col-12.col-md-6.py-md-2 
						h5 Health Science
						section 
							ul.p-0 
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I've been married for 10 years without conceiving, how can I get pregnant?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|how can I lose weight effectively without causing harm to my body?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I have HIV, what is the next step for me to take, do I still have a chance to live?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|How can I treat a gunshot and a deep knife cut?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I think I will be pregnant, I just had sex with my guy, how can I prevent this?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I just got raped, please how do I prevent pregnancy?
					.col-12.col-md-6.py-md-2 
						h5 Engineering, Manufacturing &#38; Technology 
						section 
							ul.p-0
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|My car just broke down in the middle of the road, what should I do?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|The lights in my house is flickering from time to time, what is the solution to this?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I want to make a total estimate of a project (quantity bill) for my client, how do I approach this for maximum success?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|What are the list of machines I need to start a plastic producing company?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|Is it possible to startup a telecommunication company like Glo, mtn, Airtel on a small scale?
					.col-12.col-md-6.py-md-2 
						h5 Education and Training
						section 
							ul.p-0
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I am in SSS2, Can you solve my further mathematics assignment?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I'm about to complete my secondary school, What course should I study or choose in the University?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|How can I get fully funded scholarship abroad?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I really love him but I don't know how to tell him? Is it right to tell a guy that I love him?
					.col-12.col-md-6.py-md-2 
						h5 Business, Finance, Management &#38; Administration 
						section 
							ul.p-0
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|Where can I purchase original yet cheap items in Nigeria?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I want to know if it's possible to evade vat Payments, how can I do it?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|Is it possible to purchase items directly from a manufacturer in any country of my choice, if yes, how do I go about it?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|How can I start an online business?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I have a business idea that is ground breaking, how can I sell the idea or fund it for establishment?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|My food business is not growing, what can I do to make sales?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I want to build a house without involving architects and engineers, is it possible and how do I go about it?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|Is it possible to export goods out of Nigeria to other countries?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|What business can I start to get a return on investment of 100%?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|There's a big problem that needs to be solved in my company's management, do you think you can be of help?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|Is it advisable to start a food business in Nigeria?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I want to know the types of products that most Nigerians will love to buy?
					.col-12.col-md-6.py-md-2 
						h5  Law, Public safety, Corrections, and Security 
						section 
							ul.p-0
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|Is it possible to stop my nightmares whenever I sleep at night?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|How do I stop my addiction to drugs?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|He's cheating on me, how can I get an evidence of this act?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I want to sue someone, how do I go about this?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|How can I defend myself if I get attacked in a physical struggle?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I think I have been kidnapped, what can I do urgently?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|How do I know or detect if a person has bad intention or good intentions towards me?
								li
									i.fa.fa-dot-circle(aria-hidden='true').pr-2
									|I'm thinking of committing suicide, I need someone to talk to
	include footer