extends layout
block content
	include menu
	.page-contn.p-0
		.page-width.p-0.mt-5.mt-md-0
			.container-fluid.mt-5.pt-5.pt-md-4.mt-md-0.help-contn
				h2.head-tag.text-center.p-md-2.pt-md-0.pt-5.pb-5 frequently asked questions
			.container-fluid.faq-categories.d-flex.justify-content-center.pt-4
				.col-12.col-md-6
					.container-fluid.text-center
						.row
							.col-6.categories-btn.m-0.p-0
								button.general-btn.active-category-btn general 
							.col-6.categories-btn.m-0.p-0 
								button.payments-btn payments
							//.col-4.categories-btn.m-0.p-0
								button.account-btn account
			.d-flex.justify-content-center.p-0
				.col-md-7.col-12.p-0
					.container-fluid
						.row
							.col-12.general
								#accordion.panel-group.p-3(role='tablist' aria-multiselectable='true')
									.panel.panel-default
										#headingOne.panel-heading(role='tab')
											.panel-title
												button.first-btn(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
													i.more-less.lni.lni-circle-minus.pr-3
													| Why Oprofinder?
										#collapseOne.panel-collapse.collapse.show(role='tabpanel' aria-labelledby='headingOne')
											.panel-body.p-3
												| Oprofinder is a question and answer internet based tech company with focus on answering questions and providing solutions majorly online.
									.panel.panel-default
										#heading2.panel-heading(role='tab')
											.panel-title
												button.first-btn(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapse2' aria-expanded='false' aria-controls='collapse2')
													i.more-less.lni.lni-circle-minus.pr-3
													| Does Oprofinder offers physical services?
										#collapse2.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading2')
											.panel-body.p-3
												| Yes we do, but only on request. 
									.panel.panel-default
										#headingTwo.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
													i.more-less.lni.lni-circle-plus.pr-3
													| When will i get my answer?
										#collapseTwo.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingTwo')
											.panel-body.p-3
												| You will get your answer in less than 5 to 10 minutes, just make sure your question is clear and direct so that we can serve you better and faster
									.panel.panel-default
										#headingThree.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
													i.more-less.lni.lni-circle-plus.pr-3
													| How do i change my password?
										#collapseThree.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingThree')
											.panel-body.p-3
												| You can change your password by using this 
												a(href="/forgot-password") link
									.panel.panel-default
										#headingFour.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
													i.more-less.lni.lni-circle-plus.pr-3
													| This sounds great. Where do i sign up?
										#collapseFour.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingFour')
											.panel-body.last-body.p-3
												| You can Signup by clicking this Signup 
												a(href="/signup") link
							.col-12.payments.hide
								#accordion.panel-group.p-3(role='tablist' aria-multiselectable='true')
									.panel.panel-default
										#headingFive.panel-heading(role='tab')
											.panel-title
												button.first-btn(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
													i.more-less.lni.lni-circle-minus.pr-3
													| What type of payment process does Oprofinder use?
										#collapseFive.panel-collapse.collapse.show(role='tabpanel' aria-labelledby='headingFive')
											.panel-body.p-3
												| Oprofinder uses flutterwave gateway payment secure system to accept your payments by credit card or debit card such as Visa, Verve, MasterCard.
									.panel.panel-default
										#headingSix.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
													i.more-less.lni.lni-circle-plus.pr-3
													| Why was my payment declined?
										#collapseSix.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingSix')
											.panel-body.p-3
												| It is possible you typed your details incorrectly in a rush or your bank has current maintenance issues or the network isn't favorable at the moment. Please take your time to study what could be the possible cause and try making your payments again.
									.panel.panel-default
										#headingSeven.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseSeven' aria-expanded='false' aria-controls='collapseSeven')
													i.more-less.lni.lni-circle-plus.pr-3
													| Why do i have to pay a fee to post my question?
										#collapseSeven.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingSeven')
											.panel-body.p-3
												| You have to pay a fee to get answers because Oprofinder has to keep operating by paying her staffs and investors everyday for posterity to be achieved.
									.panel.panel-default
										#headingEight.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseEight' aria-expanded='false' aria-controls='collapseEight')
													i.more-less.lni.lni-circle-plus.pr-3
													| How much does it cost?
										#collapseEight.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingEight')
											.panel-body.last-body.p-3
												| It costs just 6USD
												button(type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="at CBN exchange rate for Naira cards| For expatriates (foreigners): at your current country exchange rate to USD according to your card issuer").pl-1
													i.fa.fa-info-circle
												br
												|for your questions to be answered. Be rest assured that if you are not satisfied with the answers provided to you, you are free to report this issue by telling us via the chatbox and we will ensure to satisfy you till you are satisfied.
							.col-12.account.border.hide
								#accordion.panel-group.p-3(role='tablist' aria-multiselectable='true')
									.panel.panel-default
										#headingNine.panel-heading(role='tab')
											.panel-title
												button.first-btn(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseNine' aria-expanded='false' aria-controls='collapseNine')
													i.more-less.lni.lni-circle-minus.pr-3
													| How can i close my account?
										#collapseNine.panel-collapse.collapse.show(role='tabpanel' aria-labelledby='headingNine')
											.panel-body.p-3
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									.panel.panel-default
										#headingTen.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseTen' aria-expanded='false' aria-controls='collapseTen')
													i.more-less.lni.lni-circle-plus.pr-3
													| How do i change my email address?
										#collapseTen.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingTen')
											.panel-body.p-3
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									.panel.panel-default
										#headingEleven.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseEleven' aria-expanded='false' aria-controls='collapseEleven')
													i.more-less.lni.lni-circle-plus.pr-3
													| How do i change my password?
										#collapseEleven.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingEleven')
											.panel-body.p-3
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									.panel.panel-default
										#headingTwelve.panel-heading(role='tab')
											.panel-title
												button.collapsed(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseTwelve' aria-expanded='false' aria-controls='collapseTwelve')
													i.more-less.lni.lni-circle-plus.pr-3
													| How do i change my settings?
										#collapseTwelve.panel-collapse.collapse(role='tabpanel' aria-labelledby='headingTwelve')
											.panel-body.last-body.p-3
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.jumbotron.jumbotron-fluid.bg-none.m-md-0
				.container-fluid 
					.display-4.head-tag.text-center.pb-3 Contact Support 
					.lead.text-center
						p We understand you may have questions that are not answered in our FAQ section.
						p If you cannot find the answer to your question, please feel free to contact support
			.d-flex.justify-content-center.p-0
				.col-12.col-md-5.pb-md-4
					.jumbotron.jumbotron-fluid.bg-pri.p-md-0.pb-md-3.mb-md-5
						.container-fluid 
							.display-4.head-tag.text-center.pb-3
								img(src="/images/headphones.png").headphone
							.lead.text-center
								p For technical and customer service support, please contact us at
									a.pl-2(href="mailto:info@oprofinder.com") info@oprofinder.com
			include footer	
	