doctype html
html.theme-light
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")    
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type="image/png",  href='/images/OHE-Logo.png')
    link(rel='icon', type="image/x-icon", href='/images/OHE-Logo.png')
    link(rel="shortcut icon", href="/images/OHE-Logo.png", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/LineIcons.css')
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/all.css')
    link(rel='stylesheet', href='/stylesheets/small.css')
    link(rel='stylesheet', href='/stylesheets/wide.css')
    link(rel='stylesheet', href='/stylesheets/animations.css')
    link(rel="preconnect",href="https://fonts.gstatic.com")
    link(rel='preconnect', href='https://cdn.lineicons.com/2.0/LineIcons.css')
    link(rel="stylesheet", href="/hamburgers.min.css")
    link(rel="stylesheet", href="/stylesheets/menu.css")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src="/javascripts/prescripts.js" defer)
    script(src="/jquery.slim.min.js")
    script(src="/javascripts/tawk.chat.js" defer) 
  body.body-theme.preloader-active
    script.
      0
    block content

    script(src="/jquery.slim.min.js")
    script(src="/jquery.min.js")
    script(src="/javascripts/prereq.js")    
    script(src="/javascripts/mail.js")
    script(src="/all.js")
    script(src="/bootstrap.min.js")
    //script(src="/javascripts/chat.js")
    //script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/tawk.to.css")



