// Start of Tawk.to Script
style.
  .tawk-max-container {
    border: none !important;
    border-radius: 10px !important;
  }
// Start of Tawk.to Script
script(type='text/javascript').
  var Tawk_API=Tawk_API||{};
  var Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/61282971649e0a0a5cd3278b/1fe2e3q23';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  Tawk_API.onLoad = function(){
    Tawk_API.setAttributes({
    'name' : firstname + ' ' + lastname,
    'email': email,
    'hash' : 'd32bbdb958cf04fd8603b006fb9c36af86d1de13'
    }, function (error) {});
  };

// End of Tawk.to Script