extends layout

block content
  include menu 
  .page-contn.p-0
    .page-width.p-0.mt-5.pt-4.pt-md-1.mt-md-2
      //.alert-contn.justify-content-center.text-center.col-12
      script.
        var LoginErrorMsg = '!{errmsg}',
            error = '!{error}';
        //.col-lg-4.col-md-4.alert.fade-out
      .container-fluid          
        .welcome-text.container-fluid.text-center
          h2.head-tag.text-center.pt-4.pt-md-0 Login
        .container-fluid.p-0.m-0
          .row.p-0
            .col-12.p-0.m-0.mt-3.col-md-12
              //.d-flex.justify-content-center.align-items-center.p-0.pb-3
              .col-12.text-center
                button.login-with-google-btn(type="button" onclick="window.location='/google'" disabled) Sign in with Google
            //.col-12.p-0.m-0.mt-3.col-md-6
              .d-flex.justify-content-center.align-items-center.p-0.pb-3
              .col-12.text-center.pt-4.pt-md-0
                a(href="/facebook").secondary-btn
                  span.fb                 
                    i.lni.lni-facebook.pr-2
                    | Login with Facebook
            .d-flex.justify-content-center.col-12
              .col-12.col-md-5
                .pt-2.text-center.col-12
                  .row
                    .col-3.border-top.mt-3
                    .col-6.p-0.text-muted.mt-1 or sign in with email
                    .col-3.border-top.mt-3
      .container-fluid.form-parent.p-2
        .form-container.off-canvas.col-md-5.col-12.p-2
          form#formsignin.form-signin(action="/dashboard" method="POST")
            .form-group
              label(for='Username') Email
              .input-group
                span.input-group-addon
                  i.lni.lni-envelope.login-form-mail
                input#Username.form-control.border-left(type='email' name='email' required)            
            .form-group.passwordcontn
              label(for='password') Password
              .float-right
                a(href="/forgot-password") Forgot Password?
              .input-group
                span.input-group-addon
                  i.lni.lni-lock.login-form-mail
                input#password.form-control.border-left(type='password' name='password' autocomplete="on" required)
                i(onclick="showPassword()" type="checkbox" id="Eye").fa.fa-eye.eyes          
            //.row
              .checkbox.col-6
                label
                  input(type='checkbox' value='').p-0.m-0              
                  |  Remember me
              .col-12.text-left
                a(href="/forgot-password") Forgot Password?
            .text-center.pt-3.pb-3
              button.primary-btn(type="submit").text-center
                span Login
            span.pr-2.pb-5 New to Oprofinder?
              a(href="/signup").ml-2 Sign up
  script(src="/javascripts/requests.js")    
  include footer-alt