extends layout

block content
  include menu 
  .page-contn.p-0
    .page-width.p-0.mt-4.mt-md-0.pt-5.pt-md-0
      .container-fluid.p-4
        .container-fluid.p-1.pt-2.policy
          section.text-center.py-3
            h2 Privacy Policy
          article.px-2.text-justify
            p.font-light At 
              strong OOSE HERITAGE ENTERPRISES 
              |(referred to in this policy as “us”, “we”, or “our”) has adopted the following Privacy Policy to explain how we collect, use, and share information from and about you. Your privacy and security are very important to us at OOSE HERITAGE ENTERPRISES. We are committed to transparency when it comes to our privacy practices and how we safeguard your information. This Privacy Policy (“Policy”) outlines what kinds of information we may ask you for and gather from you as you visit or use our website, how that information may be used, and under what circumstances certain information might be shared with others. This Policy applies to the data you share when you use our “Services” which includes our website at 
              a(href="/") www.oprofinder.com  
              |and any affiliated web pages or forms we may create or host (“Site”), or when you communicate with us. 
            p.font-light This Policy is part of our Terms &#38; Conditions.
          section.text-center.py-2
            h4 INFORMATION WE COLLECT
          article.px-2.text-justify
            p
              span.font-medium 
                u INFORMATION YOU TELL US:
              br
              span.font-light Some information collected when you use our services is considered “Personal Information”. This is information that can be used to identify you personally and includes things like your full name, your street address, your phone number, and your email address. Other than as provided for in this Policy, we won’t share or disclose this kind of information unless we get your permission. Other information that we collect may not identify you personally. This kind of information may be shared or disclosed in an aggregate form, used to personalize your experience, and so on.
            p 
              span.font-medium
                u Visitors: 
              br
              span.font-light When you use our Services as a Visitor, we may ask for information about your preferences and interests to personalize your experience and help you find what you need.
            p 
              span.font-medium
                u Members: 
              br
              span.font-light To use many aspects of our Services, you are required to create an account and become a Member. Please note that our system automatically creates you as a Buyer when you opt in to sign up as a Member. We also ask you to tell us your full name and email address, so we know who you are. 
                br
                |Finally, we will ask you to share some information about what your requirements are, your geographic location and information about your interests to help us personalize your experience using our Services.
            p 
              span.font-medium
                u Experts: 
              br
              span.font-light Individuals who register for one of our Expert Memberships (“Experts”), will be required to provide additional contact information and payment information to receive earnings. An Expert’s Display Name, profile image, logo, services and any additional information they choose to provide about themselves in their profile will be publicly viewable.
                br
                br 
                |To comply with applicable laws, we may collect tax identification information from Experts including your value added tax registration details to enable us make the applicable remittances, otherwise, Experts are expected to remit taxes on their income from working on OOSE HERITAGE ENTERPRISES in accordance with applicable tax laws in their jurisdiction.
          section.text-center.py-2
            h4 COMPLIANCE WITH RELEVANT LEGISLATION
          article.px-2.text-justify
            p   
              span.font-light We understand that certain factors may determine legislation applicable to data and information under our control. We ensure that all entities which may obtain, receive and process or store data on our behalf comply with applicable legislation for purposes of compliance with best practices in data information security management.
                br 
                br 
                strong OOSE HERITAGE ENTERPRISES 
                |is compliant with Regulation (EU) 2016/679 of the European Parliament and of the Council of April 27, 2016, Nigeria Data Protection Regulation 2019, on the protection of natural persons with regard to the processing of personal data and on the free movement of such data. The regulation requires among other things, that we comply with certain standards with regard to information received from the EU or processed in the EU or stored in the EU also under the Nigerian data protection regulation 2019. We therefore require all entities which process data on our behalf conform to set standards by executing General Data Protection Regulation (GDPR) Agreement.
          section.text-center.py-2
            h4 PURCHASE INFORMATION
          article.px-2.text-justify
            p   
              span.font-light When you make a purchase through our Services, you will need to provide billing and payment information to complete your order. We have carefully chosen Service Providers who use Payment Card Industry Data Security Standard (PCI DSS) compliant practices to process payments (“Payment Processors”). Your payment will be processed directly by our Payment Processor and we will never have access to or store your full payment details.
                br
                br
                |When you use a credit or debit card to pay for your purchases, you will be asked to enter your credit or debit card number, CVV, and billing contact information. When you submit your order, this information will be sent directly to our Payment Processor. After your payment is processed, the Payment Processor will send OOSE HERITAGE ENTERPRISES some details about the transaction so that we can record your order in our database and provide access to the service that you purchased.
                br
                br
                |If you choose to pay using Rave by Flutterwave, PayStack, PayPal, you will be redirected from 
                a(href="/") www.oprofinder.com 
                |to the payment portal of the payment method you choose to complete your order. When they process your payment, they will send us a confirmation with transaction details so we can record your order and provide access to the services you have purchased. We do not collect information about or have access to the specific payment or funding sources or any other financial account details associated with your account.
          section.text-center.py-2
            h4 OTHER INFORMATION
          article.px-2.text-justify
            p   
              span.font-light When you use our Services as a Member or a Visitor, we receive and collect certain information from your browser and your device such as your Internet Protocol address (IP address), device information, operating system, browser type and version, and browser country location. This information helps us defend against fraudulent activity or attacks, maintain the security of our Services, and improve and personalize your experience.
                br
                br
                |We also log data related to how Members and Visitors use our Services, including cookies that may uniquely identify your visit or account. This log data includes details such as what pages of our Site or App you visit and when, how users navigate through the Site, and visit referral URLs. This information allows us to better understand how our Services are being used, helps us make improvements, and enables us to personalize your experience with our Services. (Please refer to the Cookies section below for more information about how we use cookies.)
      include footer
