extends layout

block content
  include menu 
  .page-contn.p-0
    .page-width.p-0.mt-4.mt-md-0.pt-5.pt-md-0
      .container-fluid.p-4
        .container-fluid.p-1.pt-2.policy
          section.text-center.py-3
            h2 Privacy Policy
          article.px-2.text-justify
            p.font-light At 
              strong OOSE HERITAGE ENTERPRISES 
              |(referred to in this policy as “us”, “we”, or “our”) has adopted the following Privacy Policy to explain how we collect, use, and share information from and about you. Your privacy and security are very important to us at OOSE HERITAGE ENTERPRISES. We are committed to transparency when it comes to our privacy practices and how we safeguard your information. This Privacy Policy (“Policy”) outlines what kinds of information we may ask you for and gather from you as you visit or use our website, how that information may be used, and under what circumstances certain information might be shared with others. This Policy applies to the data you share when you use our “Services” which includes our website at 
              a(href="/") www.oprofinder.com  
              |and any affiliated web pages or forms we may create or host (“Site”), or when you communicate with us. 
            p.font-light This Policy is part of our Terms &#38; Conditions.
          section.text-center.py-2
            h4 INFORMATION WE COLLECT
          article.px-2.text-justify
            p
              span.font-medium 
                u INFORMATION YOU TELL US:
              br
              span.font-light Some information collected when you use our services is considered “Personal Information”. This is information that can be used to identify you personally and includes things like your full name, your street address, your phone number, and your email address. Other than as provided for in this Policy, we won’t share or disclose this kind of information unless we get your permission. Other information that we collect may not identify you personally. This kind of information may be shared or disclosed in an aggregate form, used to personalize your experience, and so on.
            p 
              span.font-medium
                u Visitors: 
              br
              span.font-light When you use our Services as a Visitor, we may ask for information about your preferences and interests to personalize your experience and help you find what you need.
            p 
              span.font-medium
                u Members: 
              br
              span.font-light To use many aspects of our Services, you are required to create an account and become a Member. Please note that our system automatically creates you as a Buyer when you opt in to sign up as a Member. We also ask you to tell us your full name and email address, so we know who you are. 
                br
                |Finally, we will ask you to share some information about what your requirements are, your geographic location and information about your interests to help us personalize your experience using our Services.
            p 
              span.font-medium
                u Experts: 
              br
              span.font-light Individuals who register for one of our Expert Memberships (“Experts”), will be required to provide additional contact information and payment information to receive earnings. An Expert’s Display Name, profile image, logo, services and any additional information they choose to provide about themselves in their profile will be publicly viewable.
                br
                br 
                |To comply with applicable laws, we may collect tax identification information from Experts including your value added tax registration details to enable us make the applicable remittances, otherwise, Experts are expected to remit taxes on their income from working on OOSE HERITAGE ENTERPRISES in accordance with applicable tax laws in their jurisdiction.
          section.text-center.py-2
            h4 COMPLIANCE WITH RELEVANT LEGISLATION
          article.px-2.text-justify
            p   
              span.font-light We understand that certain factors may determine legislation applicable to data and information under our control. We ensure that all entities which may obtain, receive and process or store data on our behalf comply with applicable legislation for purposes of compliance with best practices in data information security management.
                br 
                br 
                strong OOSE HERITAGE ENTERPRISES 
                |is compliant with Regulation (EU) 2016/679 of the European Parliament and of the Council of April 27, 2016, Nigeria Data Protection Regulation 2019, on the protection of natural persons with regard to the processing of personal data and on the free movement of such data. The regulation requires among other things, that we comply with certain standards with regard to information received from the EU or processed in the EU or stored in the EU also under the Nigerian data protection regulation 2019. We therefore require all entities which process data on our behalf conform to set standards by executing General Data Protection Regulation (GDPR) Agreement.
          section.text-center.py-2
            h4 PURCHASE INFORMATION
          article.px-2.text-justify
            p   
              span.font-light When you make a purchase through our Services, you will need to provide billing and payment information to complete your order. We have carefully chosen Service Providers who use Payment Card Industry Data Security Standard (PCI DSS) compliant practices to process payments (“Payment Processors”). Your payment will be processed directly by our Payment Processor and we will never have access to or store your full payment details.
                br
                br
                |When you use a credit or debit card to pay for your purchases, you will be asked to enter your credit or debit card number, CVV, and billing contact information. When you submit your order, this information will be sent directly to our Payment Processor. After your payment is processed, the Payment Processor will send OOSE HERITAGE ENTERPRISES some details about the transaction so that we can record your order in our database and provide access to the service that you purchased.
                br
                br
                |If you choose to pay using Rave by Flutterwave, PayStack, PayPal, you will be redirected from 
                a(href="/") www.oprofinder.com 
                |to the payment portal of the payment method you choose to complete your order. When they process your payment, they will send us a confirmation with transaction details so we can record your order and provide access to the services you have purchased. We do not collect information about or have access to the specific payment or funding sources or any other financial account details associated with your account.
          section.text-center.py-2
            h4 OTHER INFORMATION
          article.px-2.text-justify
            p   
              span.font-light When you use our Services as a Member or a Visitor, we receive and collect certain information from your browser and your device such as your Internet Protocol address (IP address), device information, operating system, browser type and version, and browser country location. This information helps us defend against fraudulent activity or attacks, maintain the security of our Services, and improve and personalize your experience.
                br
                br
                |We also log data related to how Members and Visitors use our Services, including cookies that may uniquely identify your visit or account. This log data includes details such as what pages of our Site or App you visit and when, how users navigate through the Site, and visit referral URLs. This information allows us to better understand how our Services are being used, helps us make improvements, and enables us to personalize your experience with our Services. (Please refer to the Cookies section below for more information about how we use cookies.)
          section.text-center.py-2
            h4 HOW WE USE AND SHARE THE DATA YOU GIVE US
          article.px-2.text-justify
            p
              span.font-medium 
                u In General:
              br
              span.font-light Your privacy is very important to us. Other than as provided for in this Policy, we do not share your Personally Identifiable Information with third parties without your consent. We use the information we collect about you and the information you tell us about yourself for the following general purposes:
              ul.font-light
                li To create your Member account and/or Expert Profile
                li To identify you in connection with your account activity 
                li To facilitate transactions between you and our Experts
                li To provide customer support
                li To personalize your experience with our Services
                li To track usage of our Service and run tests to improve our Services
                li To identify and understand trends in user activity so that we can make improvements to our Services
                li To ensure the proper operation and security of our Services
                li Other purposes to deliver and improve our Services for you
            p
              span.font-medium 
                u For Experts:
              br
              span.font-light If you choose to become an Expert, there are some additional details we collect to ensure that we can reach you and deliver your earnings payments in the method you choose. You will also have a profile, where you can choose to provide additional details about yourself to Members/Visitors. The information you add to your profile is information that Members/Visitors can see.
                br
                |The following information is visible to others:
                ul.font-light
                  li Your Display Name
                  li Your location. Some location information may be optional to display and can be adjusted in your profile
                  li Your Profile Image, you have the option to upload a photograph, logo, or other 	image to your Profile
                  li Other Information. You can choose to provide additional information about your service, your business, your relevant skill sets, and your experience. 	
                  li Other than as described in this Privacy Policy, we won’t publicly display or disclose Personal Information about you such as the email address associated with your account, your street address or phone number, or your earnings etc., without your consent.
                  li Information About Experts:
                    ul.font-light 
                      li The following information about an Expert can be view by the general public these include Expert display name, description of services they are offering, their packages prices, skill, and short note about the Expert. These are all written by the Expert.
                      li Private data: these private data can only be view by the Expert. These include their first &#38; last name, email, phone no, payment details, house address etc., this information were provided by the Expert during registration
                      li Data generated as a result of Expert’ activities on the platform, which include rating and reviews provided by Members/Visitors they have worked for, statistic of numbers of jobs they have done etc. All these are made public.
                  li Information about Members/Visitors:
                    ul.font-light 
                      li All info about Members/Visitors are private
                      li Reviews written by Members/Visitors for Experts are also private and maybe access only by Members/Visitors.                  
          section.text-center.py-2
            h4 SERVICE PROVIDERS AND PARTNERS
          article.px-2.text-justify
            p 
              span.font-light 
                strong OOSE HERITAGE ENTERPRISES 
                |engages the services of third party companies (“Service Providers”) to support and help provide certain features of our Services such as payment processing, customer support, data storage and analysis, visitor tracking and user testing, email messaging, advertising, surveys, Site security, and other services. OOSE HERITAGE ENTERPRISES shares data with these Service Providers so that they can perform their services which help deliver our Services more securely, efficiently, and effectively. Service Providers may have access to certain Personal Information in the course of providing their service. Service Providers’ access to your Personal Information is limited to the purpose of providing the services contracted for. Service Providers are not permitted to disclose information to other parties or use your Personal Information for any other purpose.
                |OOSE HERITAGE ENTERPRISES may from time to time share aggregate user data with business partners, Service Providers, or other third parties to identify or share trends, usage statistics, and so on. Sharing data in an aggregate form means that no Personal Information, which would allow the recipient of the data to identify you personally, will be shared.
          section.text-center.py-2
            h4 MERGER OR ACQUISITION
          article.px-2.text-justify
            p 
              span.font-light In the event of a merger or an acquisition of OOSE HERITAGE ENTERPRISES we may transfer the data we have collected, including Personal Information, to the purchasing company. In such an event, we will notify you of that change. In addition, any purchasing company would have to adhere by the terms of this Policy including notifying you before making material changes and giving you the opportunity to opt out.
          section.text-center.py-2
            h4 LEGAL OBLIGATION
          article.px-2.text-justify
            p 
              span.font-light Finally, we respect and comply with legal obligations and may release information (including Personal Information and information about your account activities) in cooperation with a law enforcement investigation, in response to a valid legal request such as a court order or legal subpoena, as part of the process outlined by law or to defend, protect, or exercise our legal rights.
          section.text-center.py-2
            h4 YOUR RIGHTS AND OPTIONS
          article.px-2.text-justify
            p 
              span.font-light At OOSE HERITAGE ENTERPRISES, it is important to us that you have the ability to make choices about your personal information, so we provide you with options for managing your account and the information you give us.
          section.text-center.py-2
            h4 ACCOUNT INFORMATION
          article.px-2.text-justify
            p 
              span.font-light You can view, update, and correct the information you’ve provided about yourself by visiting your profile pages. You can also remove any of the optional information you’ve provided. Information that is required will be indicated as such and can be updated but cannot be removed.
                br
                |If you do not want to have an account with us anymore, you can close your account at any time. You can find instructions on how to close your account or you can contact us for assistance.
          section.text-center.py-2
            h4 EMAIL PREFERENCES
          article.px-2.text-justify
            p 
              span.font-light 
                stong OOSE HERITAGE ENTERPRISES 
                |uses your contact information to communicate with you about our services and to provide notifications related to your account or activity. Certain communications related to your account or your activity are required, and you cannot opt out of receiving them. These include, but are not limited to, service-related notifications, notifications related to changes that have been made to your login credentials or account details, and legal notifications. Other communications may not be required such as announcements about our Services, newsletters and messages with information you might be interested in, and other marketing and promotional messages (“Optional Communications”). You can manage your preferences related to Optional Communications in the Email Preferences section of your account, or by using the “unsubscribe” link at the bottom of any Optional Communication you receive.
          section.text-center.py-2
            h4 ACCOUNT SECURITY
          article.px-2.text-justify
            p 
              span.font-light Access to your 
                strong OOSE HERITAGE ENTERPRISES 
                |account is secured by the password you choose. For your security, we store only a hashed version of your password. This means that we do not know your password and your password is not visible to us when members of our team view your account.
                |To prevent unauthorized access to your account, choose a password that cannot be easily guessed and do not share your password with anyone else. Whenever you use a shared computer or other shared device to access your OOSE HERITAGE ENTERPRISES account be sure to log out of your account completely before you leave your workstation, uncheck the “remember me” option at login, and select “no” if the web browser prompts you to save your login credentials. You are responsible for keeping your password confidential, and for all activity that occurs under your account, whether or not authorized by you.
                |You can change or update your password anytime by visiting your profile page. If you forget your password, you can request a reset password link.
          section.text-center.py-2
            h4 COOKIES
          article.px-2.text-justify
            p 
              span.font-light Cookies are small pieces of data that are stored on your computer browser. When you visit websites like ours, some information about your visit is stored in cookies which are used to tailor your experience, surface relevant information, products, and advertisements, and to allow you to pick up where you left off the next time you visit.
                |By using our Services as a Visitor or Member, you agree to our use of cookies in the following ways, as well as other similar purposes:
                ul.font-light
                  li Analytics
                  li Marketing
                  li Preserving your preferences
                  li Personalizing your experience
                  li Understanding where our website traffic is coming from
                  li To ensure the security and availability of our Site and our Services
              span.font-light You have the right to decide whether a website can store cookies on your computer. Depending on the internet browser you use, you can view, manage, delete, and disable cookies through your browser preferences. Some features may not work properly if you choose not to allow us to use cookies.
          section.text-center.py-2
            h4 HOSTED CONTENT
          article.px-2.text-justify
            p 
              span.font-light The Content uploaded or posted to our Services is made available at the direction of our Members and/or Experts. We are not responsible for the Content, including any disclosures of Personal Information by our Members. If you believe that any Content posted on our Services violates your personal privacy rights, please notify us at 
                a(href="mailto:info@oprofinder.com") info@oprofinder.com 
          section.text-center.py-2
            h4 DATA RETENTION
          article.px-2.text-justify
            p 
              span.font-light 
                strong OOSE HERITAGE ENTERPRISES 
                |will use your information for the reasons detailed in this Policy in order to deliver our Services to you while your account is active. If you no longer wish to be a Member of our Services, you can close your account with us at any time. We may also continue to include your data as part of ongoing aggregate data and usage analysis. We will no longer send you marketing or other communications about your account or our Services. You can restore your account at any time by logging in with your email or username and your password. 
          section.text-center.py-2
            h4 INTELLECTUAL PROPERTY
          article.px-2.text-justify
            p 
              span.font-light Both the Experts and Members agrees that all intellectual property rights and database rights, whether registered or unregistered, in the Site, information content on the Site and all the website design, including, but not limited to, text, graphics, software, photos, video, music, sound, and their selection and arrangement, and all software compilations, underlying source code and software shall remain at all times vested in us.
                br
                |Use of such material will only be permitted as expressly authorized by us. Any unauthorized use of the material and content of this website is strictly prohibited and you agree not to, or facilitate any third party to, copy, reproduce, transmit, publish, display, distribute, commercially exploit or create derivative works of such material and content without prior consent from us.
                br
                |Experts are responsible for information they explicitly provided about themselves which we made public. These include their display name, logo, avatar, bio, description of services they offer, achievements, packages etc.
                br
                |Experts are to ensure they provide contents that reflect their own achievements and do not infringe someone else’s intellectual property. Experts bear the sole responsibility of any form of infringement on another’s intellectual property right without such individual consent.
                br
                |Where there is any form of infringement claim with evidence, we expect the Expert to make necessary amendments as soon as possible, else OOSE HERITAGE ENTERPRISES will take necessary action to ensure fairness to all.
          section.text-center.py-2
            h4 CHANGES TO THIS POLICY
          article.px-2.text-justify
            p 
              span.font-light From time to time, we have the right to update this Policy without prior notice to you in accordance with the process and rules in our Terms and Conditions.
          section.text-center.py-2
            h4 HOW TO CONTACT US
          article.px-2.text-justify
            p 
              span.font-light For any questions you have about this policy or if you need assistance with your account, you can reach us anytime using the following method:
                |Email us at: 
                a(href="mailto:info@oprofinder.com") info@oprofinder.com 
          section.text-center.py-2
            h4 LIABILTY AND INDEMNITY
          article.px-2.text-justify
            p 
              span.font-light You shall protect, defend, indemnify and hold OOSE HERITAGE ENTERPRISES harmless from and against all losses, lost, liabilities, claims, damages and expenses of every kind and character, as incurred, resulting from or relating to or arising out of:
                br
                |The inaccuracy, non-fulfilment or breach of any representation, warranty, covenant or agreement made by Expert and Members/Visitors.
                br
                |Any legal action, including any counterclaim, that has either been settled by the litigants or has proceed to judgment by a court of competent jurisdiction, in either case to the extent it is based upon alleged facts that, if true, would constitute a breach of any representation, warranty, covenant or agreement made by Expert and Members/Visitors.
          section.text-center.py-2
            h4 LIABILTY AND INDEMNITY
          article.px-2.text-justify
            p 
              span.font-light You agree that OOSE HERITAGE ENTERPRISES shall not be liable for any loss or damage whatsoever which is suffered (including but not limited to indirect or consequential loss) or for any monetary losses of any kind, loss of use, loss of goodwill, loss of expectation, loss of data, or infringement, that may arise in connection, suffered or sustained (even caused by negligence) in connection with the use of this service.
                br
                |All services are supply by the Expert to the Members/Visitors. We make no promises, and do not accept any liability, either expresses or implied as to the services provided by the Expert and client, including but not limited to its accuracy, relevance or quality.
          section.text-justify.py-2 By accepting this Privacy Policy, you agree that:
            br
            strong OOSE HERITAGE ENTERPRISES 
            |can process your personal data in accordance with all relevant policies as they relate to data privacy laws.

      include footer
