extends layout

block content
  include menu 
  .page-contn.p-0
    .page-width.p-0.mt-4.mt-md-0.pt-5.pt-md-0
      .container-fluid.p-4
        .container-fluid.p-1
          h5.font-weight-bold Privacy Policy
          p At OOSE HERITAGE ENTERPRISES (we, us,), we understand that your privacy is very important to you. 
            |That’s why we are committed to protecting and respecting the privacy of all users of our websites,
            | our apps and the other services we provide (“our Services”). Our Privacy Policy, which is set out below, 
            |explains the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. 
            |Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. 
            |When you use and provide information to us via our Services, you are accepting and consenting to our processing of your information 
            |in accordance with this Privacy Policy, our Cookie Policy, our Website Terms of Use, the Services Terms and Conditions.
          h5.font-weight-bold Information we may collect from you
          p We may collect and process the following data about you: Information that you provide to us, such as your name, address, email address and telephone number, age, username, password and other registration information, financial and credit card information, personal description, details of your household or business, details of any pets you may have and any information about you revealed in photographs of your property which you provide to us (or which you permit us to take) and any other information that you choose to volunteer, when you:
          ul
            li register with us and log in through our paper forms or websites and/or our apps;
            li submit a booking inquiry through our paper forms or websites and/or our apps;
            li make a booking through our paper forms or websites and/or our apps;
            li complete contact or inquiry forms on, or otherwise provide information via, our websites and/or our apps;
            li subscribe to receive any newsletter we may offer from time to time;
            li complete any voluntary surveys we may ask you to participate in from time to time;
            li send feedback to us via our website and/or our apps;
            li respond to our marketing communications;
            li correspond with us by telephone, post or email or via the instant chat function on our websites and our apps (in which case we will keep a record of that correspondence);
            li Or report a problem with any of our Services.
          p Information that we collect automatically each time you visit any of our websites or use any of our apps:
          ul
            li technical information, including the type of mobile device (“Device”) you use, mobile network information, your mobile operating system, the type of mobile browser you use and your time zone setting;
            li information about your computer, including where available your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data about our users’ browsing actions and patterns, and does not identify any individual; and details of your use of our apps or your visits to our websites, including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.
            li We may also use GPS technology or other location technology in connection with our apps to determine your current location. Some of our location-enabled services require your personal data for the feature to work. If you wish to use the particular feature, you will be asked to consent to your data being used for this purpose. You can withdraw your consent at any time by changing your location preferences in the settings menu on your Device.
            li We are working closely with third parties (including, for example, business partners, sub-contractors in technical, payment and delivery services, advertising networks, search information providers, credit reference agencies, fraud prevention agencies and debt collection agencies) and may receive information 
          h5.font-weight-bold How we use your information
          p We use the information you give to us:
          ul
            li to administer any account you may have with us;
            li to manage your booking or booking enquiry and to arrange the performance of services by your service provider;
            li to carry out our obligations arising from any contracts entered into between you and us;
            li to provide you with the information, products and services that you request from us;
            li to communicate with you about any comments, complaints, queries or feedback you might have about us or the Services;
            li to allow you to participate in interactive features of our services, when you choose to do so;
            li to notify you about changes to our Services;
            li to ensure that content on our websites and our apps is presented in the most effective manner for you and your computer and/or Device;
            li to provide you with information about goods and services we offer that we feel may interest you by post, telephone, SMS or email. We will send that information by SMS or email only if: (i) you have consented to this; or (ii) the information is about products and services similar to those which were the subject of a previous sale or negotiation of a sale to you (and you have not opted out of receiving such marketing messages); or (iii) where we are permitted to do so by law without consent, for example, if you have provided us with a company email address. If you do not want us to use your information in this way, please contact us using our contact form or the contact details in paragraph 8 below.
            li Specifically, we will provide your data to the service provider who is allocated to provide services to you, for the purpose of providing those services. This information may include (i) your name, address and contact details; (ii) the details about your property and the services you require, together with any relevant photographs you may have provided; (iii) the non-binding quote we have provided to you; and (iv)your payment details. We use the information about you that we collect automatically:
            li to administer our websites and our apps and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes; to improve our websites and apps to ensure that content is presented in the most effective manner for you and for your computer and Device;
            li to improve the quality and efficiency of our products and services; to allow you to participate in interactive features on the websites and apps, when you choose to do so; as part of our efforts to keep our websites and apps safe and secure;
            li to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you;
            li And to make suggestions and recommendations to you about goods or services that may interest you.
              |We use the information about you that we collect from other sources in combination with the information you give to us and the information about you that we collect automatically. We will only use such information for the purposes set out above.
          h5.font-weight-bold Where we store your personal data
          ul
            li All information you provide to us is stored on our secure servers cloud storage of Google drive. We have in place a level of security appropriate to the nature of the information stored and the harm that might result from a breach of security.
            li Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site or app, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.
            li All payments made through our platform or websites and our apps are processed by our selected third party payment processing services; our company registered banks. Such payments are encrypted using Secured Sockets Layer technology. We do not store any of your credit or debit card details in connection with your payment.
            li Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our websites or our apps; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.
          h5.font-weight-bold Disclosure of your information
          ul
            li We may disclose your personal information to any member of our company, which means only top staffs of OOSE HERITAGE ENTERPRISES.
            li We may disclose your personal information If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our Website Terms of Use or the Services Terms and Conditions and other agreements; or to protect the rights, property or safety of OOSE HERITAGE ENTERPRISES, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction;
            li We may disclose your personal information If you do not make payments that you owe in relation to any services provided to you by the service provider, in which case we may disclose your personal data to credit reference agencies and to fraud prevention agencies for the purposes of fraud prevention. We may also disclose your personal data to debt collection agencies which may use your information to trace your whereabouts and recover the debts. The information which we provide to such agencies may in turn be provided by those agencies to other organizations which may use your personal data to perform similar checks. Information recorded by fraud prevention agencies may be accessed by organizations in other jurisdictions.
          h5.font-weight-bold Your rights
          ul
            li You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes You can also exercise the right at any time by contacting us using the contact details in paragraph 8 below.
            li The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of NGN5000 to meet our costs in providing you with details of the information we hold about you.
          h5.font-weight-bold Changes to our privacy policy
          ul
            li By submitting your information to us, you consent to the use of that information as set out in this Privacy Policy. If we change our Privacy Policy, we will post the updated policy on this page and may place notices elsewhere within the websites and the apps (such as the home page) for a reasonable period of time, so that you may be aware of the changes.
            li In the event of any changes, we will also update the “Last updated” date at the top of this Privacy Policy. You should check our Privacy Policy occasionally to ensure that you are happy with any changes we make. Your continued use of the Services following any changes to this Privacy Policy will mean you accept those changes.
          h5.font-weight-bold Contact us
          ul
            li Questions, comments and requests regarding this Privacy Policy are welcomed and should be addressed directly to info@oprofinder.com

      include footer
