extends layout
block content
	include menu
	.page-contn.p-0
		.page-width.p-0.pt-4
			.container-fluid
				.form-gap
				.error-contn.text-center.col-12
					.error
				.container.fluid
					.row          
						.col-12.d-flex.justify-content-center
							.col-md-4.col-md-offset-4
								div
									form.reset-form
										.text-center
											h3.text-center.pt-3.thick Change Password   											
											.panel-body
												.form.pt-3.text-center
													.form-group
														label(for='pass').text-left New Password
															input#pass.form-control(type='password', name='password', value='', placeholder='New password', title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters",required)
													.form-group
														label(for='pass2').text-left Confirm New Password
															input#pass2.form-control(type='password', name='confirmPassword', value='', placeholder='Confirm new password', required)
														.wrong-login.pt-2.pb-2
													.form-group
														button(type="submit").primary-btn.update-pwd update password
											.text-left#message To
												span.thick.pl-1 protect your account 
												|, make sure your new password: 
												.text-left
													p.invalid.p-1#length
														span.lengthstat.pr-1
														| Is longer than 8 characters 
													p.invalid.p-1#letter
														span.letterstat.pr-1
														| Contains a lowercase letter
													p.invalid.p-1#capital
														span.capitalstat.pr-1
														| Contains a Uppercase letter
													p.invalid.p-1#number
														span.numberstat.pr-1
														| Contains a number
													p.invalid.p-1#creativity
														span.creativitystat.pr-1
														| Just think of something only you would think of, get creative.