extends layout

block content 
	.stat-img.container-fluid 
		.dummy-positioning.d-flex.p-5.mt-4
			.success-icon
				.success-icon__tip
				.success-icon__long
	.text-center.p-5.pt-0
		input.hide(type="text",value=email)#emailstat
		p Email address was updated successfully, logging you in now...
	