extends layout

block content
    include menu 
    .page-contn.p-0
        .page-width.p-0.mt-4.mt-md-0.pt-5.pt-md-0
            .container-fluid.p-4
                .container-fluid.p-1.pt-2.policy
                    section.text-center.py-3.pt-5
                        .col-12
                            h2 Terms of Service
                            a.primary-btn.print-btn.farther.print-btn-tac
                                i.fa.fa-print(aria-hidden='true').mr-1
                                | print
                    article.px-2.text-justify
                        p.font-light This term of service is a contract between you (‘you’ or ‘user’) and 
                            strong OOSE HERITAGE ENTERPRISES 
                            |(‘we’ or ‘us’) and to the extent expressly stated our subsidiaries and affiliates. You agree to read and accept all of
                            |the terms and conditions contained in this agreement in order to use our website located at 
                            a(href="www.oprofinder.com") www.oprofinder.com
                            |, including mobile websites and applications, owned and operated by us or our
                            |subsidiaries and affiliates (collectively, the ‘Site’), all services, applications and products which are
                            |accessible through the site. This agreement includes and hereby incorporates by reference the Privacy
                            |Policy which addresses among other things, how we collect, process, and share information and this
                            |includes but is not limited to our obligations under the ISO recommendations, Payment Card Industry Data
                            |Security Standards (PCIDSS) and jurisdictional applicable laws such as Regulation (EU) 2016/679 of the
                            |European Parliament and of the Council and under the laws of federal republic of Nigeria. Subject to the
                            |conditions set forth herein, OOSE HERITAGE ENTERPRISES may, in its sole discretion, amend this Agreement
                            |and the other Terms and Conditions at any time by posting a revised version on the website and will provide
                            |reasonable advance notice of any amendment that includes a substantial change. Any revisions to the
                            |Terms and Conditions will take effect on the noted effective date or when posted if there is no noted
                            |effective date (each, as applicable, the “Effective Date”). Your continued use of the website or the services
                            |after the Effective Date of a revised version of this Agreement constitutes your acceptance of and
                            |agreement to be bound by the Terms and Conditions as revised. In the event of a conflict between this
                            |Agreement and any other agreement, this Agreement will prevail unless the other Agreement explicitly
                            |states that it will prevail. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u DEFINITION OF TERMS:
                            br
                            span.font-light 
                                strong Expert:
                                | can also mean, Professional who render services.
                                br
                                strong Members/Visitors: 
                                |this can also mean, client that is the recipient of the services.
                                br
                                strong Service: 
                                |the act of work done.
                                br
                                strong Marketplace: 
                                |Services available on the website.
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u PURPOSE OF THE WEBSITE AND WEBSITE’S SERVICES 
                            br 
                            span.font-light The Site is a marketplace where Members/Visitors and Experts (professional or Service Provider) can
                                |identify each other and advertise, buy, and sell Services online. Subject to the Terms and conditions, OOSE
                                |HERITAGE ENTERPRISES provides the website services to Members/Visitors, including hosting and
                                |maintaining the Site, enabling the formation of Service Contracts, and coordinating disputes related to
                                |those Service Contracts. If Members/Visitors agree on terms for Expert Services, a Service Contract is
                                |formed directly between them. When a Members/Visitors enters a Service Contract, it uses the website to
                                |engage, communicate, provide quotations, and pay online. You acknowledge and agree that OOSE
                                |HERITAGE ENTERPRISES is not a party to any Service Contracts, and that the formation of a Service Contract
                                |between Users will not, under any circumstance, create an employment or other service relationship
                                |between OOSE HERITAGE ENTERPRISES and any Experts. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u DIGITAL SIGNATURE
                            br 
                            span.font-light By registering for OOSE HERITAGE ENTERPRISES account on the website (an “Account”), or by clicking to
                                |accept the Terms and Conditions when prompted on the Site, you are deemed to have executed this
                                |Agreement and the other Terms and Conditions electronically, effective on the date you register your
                                |Account or click to accept the Terms and Conditions.
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u YOUR CONSENT AND YOUR RIGHT TO WITHDRAW CONSENT
                            br 
                            span.font-light By registering for an Account, you consent to electronically receive and access, via email, Short Messages
                                |Services, Mobile App or Desktop Notifications, or the Site, all records and notices for the services provided
                                |to you under the Terms and Conditions that we or our subsidiaries or affiliates would otherwise be required
                                |to provide to you in paper form. Your consent to receive records and notices electronically will remain in
                                |effect until you withdraw it. You may withdraw your consent to receive further records and notices
                                |electronically at any time by contacting our Customer Support via our help site at 
                                a(href="www.oprofinder.com") www.oprofinder.com 
                                |or email address 
                                a(href="mailto:info@oprofinder.com") info@oprofinder.com
                                |. Any withdrawal of your consent to receive records and notices
                                |electronically will be effective only after we have a reasonable period to process your request for
                                |withdrawal. Please note that your withdrawal of consent to receive records and notices electronically will
                                |not apply to records and notices electronically provided by us to you before the withdrawal of your consent
                                |becomes effective. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u KEEPING YOUR ADDRESS AND EMAIL ADDRESS CURRENT WITH US 
                            br 
                            span.font-light In order to ensure that we are able to provide records and notices to you electronically, you agree to notify
                                |us immediately of any change in your email address and phone number, updating your Account
                                |information on the Site or by contacting our Customer Support. In addition, you agree to notify us
                                |immediately of any change in your address. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u ACCOUNT ELIGIBILITY 
                            br 
                            span.font-light To use the Site and certain services, you are required to have a registered account. 
                                strong OOSE HERITAGE ENTERPRISES 
                                |offers the Site and its services for your business purposes, and personal, household, or
                                |consumer use. To use the Site and its services, as a service provider, Experts, you must have, and hereby
                                |represent that you have, an independent business (whether it be as a self-employed individual/sole
                                |proprietor or as a corporation or other entity) and further represent that you intend to use the Site and its
                                |services for your business purposes only, unless you use the Site and its services solely as an employee.
                                |You understand that you must comply with any licensing or registration requirements with respect to your
                                |business, and you represent that you comply with all such requirements. 
                                br
                                br
                                |To register for an Account, you must be, and hereby represent that you are, a legal entity or an individual
                                |18 years or older who can form legally binding contracts. By registering for an Account, by using the Site
                                |and its services after the Effective Date if you had an account on the Effective Date, or by clicking to accept
                                |the Terms of Service when prompted on the Site, you agree to: 
                                ul.font-light 
                                    li abide by this Agreement and the other Terms of Service; 
                                    li be financially responsible for your use of the Site and the purchase or delivery of Expert Services and;
                                    li perform your obligations as specified by any Service Contract that you enter unless such obligations are prohibited by applicable law or the Terms and Conditions.
                            span.font-light
                                strong OOSE HERITAGE ENTERPRISES 
                                |reserves the right, in our sole discretion, to refuse, suspend, or revoke your
                                |access to the Site and its services upon discovery that any information you provided on any form or posted
                                |on the Site is not true, accurate, or complete, or such information or other conduct otherwise violates the
                                |Terms and Conditions, or for any other reason or no reason in OOSE HERITAGE ENTERPRISES sole
                                |discretion. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u ACCOUNT REGISTRATION - PROFILE 
                            br 
                            span.font-light By registering for a Service Provider account, you must complete one or more profiles (“Profile”) (and you
                                |will implicitly be signed up as an Expert), which you consent that part of the profile(s) relating to your
                                |service offerings, your work-related statistics on the Site and post work reviews and rating written by
                                |Clients you worked for on the Site will be shown to other Clients and public. If you are an Expert, unless
                                |you use the Site solely as an employee, you represent and warrant that you use your Profile to market your
                                |business to others for the purpose of entering into independent contractor relationships with other Users.
                                |You agree to provide true, accurate, and complete information on your Profile(s) and all registration and
                                |other forms you access on the website or provide to us and to update your information to maintain its
                                |truthfulness, accuracy, and completeness. You agree not to provide and to correct any information about
                                |your location, your business, your skills, or the services your business provides that is or becomes false or
                                |misleading. You agree not to register for more than one Service Provider Account without express written
                                |permission from us. You agree not to ask or allow another person to create an Account on your behalf, for
                                |your use, or for your benefit. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u IDENTITY VERIFICATION 
                            br 
                            span.font-light When you register for a Service Provider Account and from time to time thereafter, your Account will be
                                |subject to verification, including, but not limited to, validation against third-party databases or the
                                |verification of one or more official government or legal documents that confirm your identity and your
                                |ability to represent your business on work, if it is a separate legal entity. You authorize OOSE HERITAGE
                                |ENTERPRISES, directly or through third parties, to make any inquiries necessary to validate your identity
                                |and confirm your ownership of your email address or financial accounts, subject to applicable law. When
                                |requested, you must provide us with information about you and your business. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u USERNAMES AND PASSWORDS
                            br 
                            span.font-light When you register for an Account, you will be asked to choose a username and password for the Account.
                                |You are entirely responsible for safeguarding and maintaining the confidentiality of your Account’s
                                |password. You authorize OOSE HERITAGE ENTERPRISES to assume that any person using the website with
                                |your username and password, either is you or is authorized to act for you. You agree to immediately change
                                |your password or notify us immediately if you suspect or become aware of any unauthorized use of your
                                |Account or any unauthorized access to your password or the password of any User of your Account. You
                                |further agree not to use any username, or password of another User of the website that you are not 
                                |authorized to use, and not to allow others who are not authorized to do so to use your Account at any
                                |time.
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u ESCROW ACCOUNT
                            br 
                            span.font-light 
                                strong OOSE HERITAGE ENTERPRISES 
                                |provides escrow services to Users to deliver, hold, or receive payment for
                                |an engagement, and to pay for service and payment processing and administration fees to OOSE HERITAGE
                                |ENTERPRISES (“Escrow Services”). The Escrow Services are intended for business use, so you agree to use
                                |the Escrow Services only for business purposes and not for consumer, personal, family, or household
                                |purposes.
                                br
                                br
                                |After entering into a Service Contract, the first time a Service Provider uses the website to receive payment
                                |for an Engagement, OOSE HERITAGE ENTERPRISES will establish and maintain a “Service Provider Escrow
                                |Account” for the Service Provider to receive payments for Engagements, withdraw payments, and service
                                |fees to OOSE HERITAGE ENTERPRISES and issue refunds to Clients.
                                br
                                br
                                |You hereby authorize and instruct 
                                strong OOSE HERITAGE ENTERPRISES
                                | to act as escrow agent in connection with
                                |the Escrow Account and the payment, holding, and receipt of funds for each Engagement and other
                                |specified purposes (the “Escrow”) in accordance with the Terms and Conditions and the applicable Escrow
                                |Instructions.
                                br
                                br
                                |OOSE HERITAGE ENTERPRISES disburses funds that are payable to a Service Provider for the Engagement
                                |(less any applicable OOSE HERITAGE ENTERPRISES fees) after the lapse of the payment holding days where
                                |there is no dispute and within 3 days after the resolution of a dispute. Service Provider agrees that it will
                                |not receive interest or other earnings on the funds held by 
                                strong OOSE HERITAGE ENTERPRISES 
                                |prior to
                                |disbursement to Service Provider.
                                br
                                br
                                |Notwithstanding any other provision of the Terms and Conditions or the Escrow Instructions, and except
                                |as prohibited by applicable law, if we determine in our sole discretion that you have violated the conditions
                                |and restrictions of the Site or the Terms and Conditions, 
                                strong OOSE HERITAGE ENTERPRISES 
                                |may hold the
                                |disbursement of the Service Provider Fees. Additionally, 
                                strong OOSE HERITAGE ENTERPRISES 
                                |may also hold the
                                |disbursement of the Service Provider Fees if:
                                ul.font-light
                                    li we have reason to believe the Service Provider Fees may be subject to dispute or chargeback.
                                    li we suspect fraud.
                                    li we deem it necessary in connection with any investigation; or
                                    li we are required by applicable law 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u PAYMENT TERMS 
                            br 
                            span.font-light The fees to use the Site and Its services are paid by the Members/Visitors. When a client pays a Service
                                |Provider, or when funds related to an Engagement are otherwise released to a Service Provider as required
                                |by the applicable Escrow Instructions, 
                                strong OOSE HERITAGE ENTERPRISES 
                                | will credit the Service Provider Wallet
                                |for the amount paid or released, and then deduct and pay to 
                                strong OOSE HERITAGE ENTERPRISES 
                                | a service fee
                                |in the amount specified in the OOSE HERITAGE ENTERPRISES Fee Agreement (the “Commission”). Service
                                |Provider agrees to pay 
                                strong OOSE HERITAGE ENTERPRISES 
                                | Commission for using the Site.
                                br
                                br
                                |In cases of fraud, abuse, or violation of the Terms of Service, 
                                strong OOSE HERITAGE ENTERPRISES 
                                | reserves the
                                |right to revoke any payments. In addition, we reserve the right to seek reimbursement from you, and you
                                |will reimburse us, if we suspect fraud or criminal activity associated with your payment, withdrawal, or
                                |Engagement; if we discover erroneous or duplicate transactions; or where we have supplied our services 
                                |in accordance with this Agreement yet we receive any chargeback from the Payment Method used by you,
                                |or used by your Client if you are a Service Provider. You agree that we have the right to obtain such
                                |reimbursement by deducting it from the applicable Wallet Available Balance, and any other accounts you
                                |hold with us, offsetting any amounts determined to be owing, deducting amounts from future payments
                                |or withdrawals, charging your Payment Method, or obtaining reimbursement from you by any other lawful
                                |means. Failure to pay for reimbursements of chargebacks would be a ground for termination of the
                                |applicable Wallet and revocation of your access to the Site. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u FORMAL INVOICES AND TAXES
                            br 
                            span.font-light 
                                strong OOSE HERITAGE ENTERPRISES 
                                | will have no responsibility for determining the necessity of or for issuing any
                                |formal invoices, or for determining, remitting, or withholding any taxes applicable to the Service Provider
                                |Fees. Service Provider will be solely responsible for determining whether it is required by applicable law to
                                |issue any formal invoices for the Service Provider Fees and for issuing any invoices so required. Service
                                |Provider will also be solely responsible for determining whether:
                                br
                                br
                                |Service Provider or 
                                strong OOSE HERITAGE ENTERPRISES 
                                |is required by applicable law to remit to the appropriate
                                |authorities any value added tax or any other taxes or similar charges applicable to the Service Provider Fees
                                |and remitting any such taxes or charges to the appropriate authorities on behalf of itself or 
                                strong OOSE HERITAGE ENTERPRISES 
                                |, as appropriate and;
                                br
                                br
                                strong OOSE HERITAGE ENTERPRISES 
                                | is required by applicable law to withhold any amount of the Service Provider
                                |Fees and for notifying OOSE HERITAGE ENTERPRISES of any such requirement and indemnifying OOSE
                                |HERITAGE ENTERPRISES (either by 
                                strong OOSE HERITAGE ENTERPRISES
                                |, at our sole discretion, offsetting the
                                |relevant amount against a future payment of Service Provider Fees to Service Provider or Service Provider
                                |reimbursing
                                strong OOSE HERITAGE ENTERPRISES    
                                |for the applicable amount) for any requirement to pay any
                                |withholding amount to the appropriate authorities (including penalties and interest).
                                br
                                br
                                |In the event of an audit of 
                                strong OOSE HERITAGE ENTERPRISES
                                |, Service Provider agrees to promptly cooperate
                                |with 
                                strong OOSE HERITAGE ENTERPRISES 
                                |and provide copies of Service Provider’s tax returns and other
                                |documents as may be reasonably requested for purposes of such audit, including but not limited to records
                                |showing Service Provider is engaging in an independent business as represented to  
                                strong OOSE HERITAGE ENTERPRISES. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u NON-CIRCUMVENTION 
                            br 
                            span.font-light You acknowledge and agree that a substantial portion of the compensation 
                                strong OOSE HERITAGE ENTERPRISES
                                |receives for making the Site available to you is collected through the Commission described above. 
                                strong OOSE HERITAGE ENTERPRISES 
                                |only receives this Commission when a Client and a Service Provider pay and receive
                                |payment through the website. Accordingly, for 24 months from the time you identify or are identified by
                                |any party through the website (the “Non-Circumvention Period”), you agree that you shall only use the
                                |website as your exclusive method to request, make, and receive all payments for work directly or indirectly
                                |with that party or arising out of your relationship with that party (the “
                                strong OOSE HERITAGE ENTERPRISES 
                                |Relationship”).
                                br
                                br
                                |You agree to notify 
                                strong OOSE HERITAGE ENTERPRISES 
                                |immediately if another person improperly contacts you
                                |or suggests making or receiving payments outside of the Site. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u SERVICES 
                            br 
                            span.font-light Service Provider will perform the Services in a professional and workmanlike manner and will timely deliver
                                |any agreed upon Work Product. The manner and means of performing the Services will be determined and
                                |controlled solely by Service Provider, which is engaged by Members/Visitors as an independent contractor
                                |and not as an employee or agent of 
                                strong OOSE HERITAGE ENTERPRISES
                                |.
                                br
                                br
                                |If a Service Provider subcontracts or employs third parties to perform Services on behalf of the Service
                                |Provider for any Engagement, the Service Provider represents and warrants that it shall remain responsible
                                |for all services performed under the Engagement, including ensuring that the services comply with the
                                |Terms and Conditions (including confidentiality and intellectual property obligations).
                                br
                                br
                                |Service Provider should recognize that there might be a need for Members/Visitors to disclose certain
                                |confidential information to be used by Service Provider for the purpose of delivering their Service, and to
                                |protect such confidential information from unauthorized use and disclosure. Therefore, Service Provider
                                |agree to treat any information received from Client as highly sensitive, top secret and classified material.
                                |Without derogating from the generality of the above, Service Provider specifically agree to
                                ul.font-light
                                    li maintain all such information in strict confidence
                                    li not disclose the information to any third parties
                                    li not use the information for any purpose except for delivering their Service and
                                    li not to copy or reproduce any of the information without the Client’s permission
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u CONFIDENTIAL INFORMATION 
                            br 
                            span.font-light We consent that all information shared on the content of 
                                strong OOSE HERITAGE ENTERPRISES 
                                |platform i.e.,
                                |oprofinder.com for on the applications will not be made public. We value all the information and materials
                                |shared on our Platform and you attest that you shall not divulge such information without the prior written
                                |consent of 
                                strong OOSE HERITAGE ENTERPRISES
                                |. Users also consent to use all information available on 
                                strong OOSE HERITAGE ENTERPRISES 
                                |platform for providing services obligated under this Agreement.
                                br
                                br
                                |Users are to report any suspicious terms and circumstances that may amount to a breach of the
                                |Confidential Information and try to protect such confidential information from unauthorized use or
                                |disclosure.
                                ul.font-light
                                    li Confidentiality
                                    |To the extent a Member/Visitor or Service Provider provides Confidential Information to the other, the
                                    |recipient shall protect the secrecy of the discloser's Confidential Information with the same degree of
                                    |care as it uses to protect its own Confidential Information, but in no event with less than due care, and
                                    |shall: (a) not disclose or permit others to disclose another's Confidential Information to anyone without
                                    |first obtaining the express written consent of the owner of the Confidential Information; (b) not use or
                                    |permit the use of another's Confidential Information, except as necessary for the performance of Services
                                    |for the relevant Service Contract (including, without limitation, the storage or transmission of
                                    |Confidential Information on or through the Site for use by Service Provider); and (c) limit access to
                                    |another's Confidential Information to its personnel who need to know such information for the
                                    |performance of Service Provider Services for the relevant Service Contract. 
                                    li Return 
                                    If and when Confidential Information is no longer needed for the performance of the Services for a
                                    |Services Contract or at Member's or Expert's written request (which may be made at any time at 
                                    |Member's or Expert's sole discretion), the party that received Confidential Information, shall, at its
                                    |expense, promptly destroy or return the disclosing party's Confidential Information and any copies
                                    |thereof contained in or on its premises, systems, or any other equipment otherwise under its control. The
                                    |party that received Confidential Information agrees to provide written certification to the party disclosing
                                    |the Confidential Information of compliance with this subsection within ten days after the receipt of
                                    |disclosing party's written request for such certification. 


                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u DISPUTE RESOLUTION 
                            br 
                            span.font-light In an event of dispute which could not be resolved between Members/Visitors and a Service Provider the
                                |issue is escalated to 
                                strong OOSE HERITAGE ENTERPRISES
                                |. Dispute Management Team for settlement. The Team
                                |will resolve the matter only base on the quotation which the Service Provider submitted and was ordered
                                |by the Members/Visitors. In this case the 
                                strong OOSE HERITAGE ENTERPRISES
                                |. Team can arrive only at two (2)
                                |decisions, namely, either to Pay the Service Provider their full payment (if the Service Provider is not guilty)
                                |or fully refund the Client (if the Service Provider is guilty). The settlement of dispute is the sole responsibility
                                |of 
                                strong OOSE HERITAGE ENTERPRISES 
                                |Dispute Management Team. 
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u TERMINATION
                            br 
                            span.font-light Without prejudice to any remedy or right reserved by the parties, 
                                strong OOSE HERITAGE ENTERPRISES 
                                |may
                                |terminate the service and/or suspend the Service Provider’s access to the service at any time without
                                |notice to the Service Provider for breach of any of the terms of this Terms and Conditions.
                                br
                                br
                                |The Service Provider shall give OOSE HERITAGE ENTERPRISES 14 days’ notice of its intention to discontinue
                                |the use of the services via email. 
                                br
                                br
                                |The Service shall automatically terminate if:
                                ul.font-light
                                    li The Service Provider is wound up or goes into liquidation/bankruptcy or for any reason ceases or is likely to cease to carry on its business or transfers its business.
                                    li The obligations of the Service Provider become prohibited by law or any other regulatory authority
                                    li The Service Provider fails to perform its obligations under this Terms and Conditions or in accordance with any further terms and conditions as may be advised by OOSE HERITAGE ENTERPRISES from time to time.
                                    li If any event or series of event occurs which may render the Service Provider unable to comply with its obligations under the terms and conditions, or any other agreement with the client. 

                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u 
                            br 
                            span.font-light
                    article.px-2.text-justify
                        p
                            span.font-medium 
                                u 
                            br 
                            span.font-light
    include footer