form.search-form
    button(type="button" onclick="closeSelect(this)").close-select.fade-out
        i.fa.fa-times
    //input#search.search.pl-2(type="search"/*,onkeyup="searchDB(this)"*/,autocomplete='on', name="searchjobs", placeholder="Search for any keyword e.g law" required).form-control
    .text-left
        label Select expert:
    select#search.search(name='cars').select-list
        option(value='').hide Choose option
    //span.d-md-none.filter-icon
        i.fa.fa-caret-down.pl-1.caret
    //span.search-icon
        button.m-3
            i.lni.lni-keyword-research