.-chats{
    height: 100vh;
}
.chat-body{
    height: 100%;
    position: fixed;
    bottom: 0;
    transform: translateX(-1px);
    background-color: white;
}
.chat-bg{
    background-size: cover;
}
.chat-header{
    position: absolute;
    top: 70px;
    bottom: 0;
    background: #ef6c26;
    height: 70px;
    color: white !important;
    border-bottom: 1px solid #ef6c2685;
    box-shadow: 5px 5px 4px #00000015;
}
.chat-content{
    position: absolute;
    top: 140px;
    height: 80vh;
    overflow-y: scroll;
}
.chat-footer{
    position: absolute;
    bottom: 0;
    background: transparent;
    background: #ffffff;
}
.chat-content ul {
    padding: 0;
    list-style-type: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.chat-content::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.chat-content {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
.agent-name{
    font-size: medium;
    color: white;
}
.dot-menu button{
    border: none;
    cursor: pointer;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
}
.agent-title{
    font-size: 15px;
    color: #ffffffb7;
}
.chat-options{
    background: #ef6c26;
    right: 10px;
    color: white;
    width: 155px;
    box-shadow: 0px 8px 16px 0px #0000004b;
    z-index: 500;
}
.chat-options ul{
    list-style: none;
}
.chat-options li {
    padding: 10px;
    cursor: pointer;
}
.chat-options li:hover{
    background: #df6523ef;
    transition: all .50s;
}

.bubbleWrapper {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
  color: black;
}
.inlineContainer {
  display: inline-flex;
}
.inlineContainer.client {
  flex-direction: row-reverse;
}
.inlineIcon {
  width:20px;
  object-fit: contain;
}
.chat-bubble {
	min-width: 60px;
max-width: 700px;
padding: 13px;
border-radius: 16px 16px 0 16px;
font-size: 15px;
margin-bottom: 5px;
box-shadow: 0px 0px 5px #dddbda;
border: 1px solid #dddbdad5;
}
.clientBubble{
    background: #feeee5;;
}
.agentBubble{
    border-radius: 16px 16px 16px 0 !important;
    background-color: white;
}
.client-chat-time,.client-chat-name {
	align-self: flex-end;
}
.agent-chat-time,.agent-chat-name {
	align-self: flex-start;
}
span.client-chat-time,
.client-chat-name,
span.agent-chat-time,
.agent-chat-name{
  font-size: 12px !important;
  color: grey;
}
span.client-chat-time ,
span.agent-chat-time{
    padding-left: 5px;

}
.chat-title{
    background: #808080bd;
    width: max-content;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}
.chat-title-contn{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.chat-footer{    
    box-shadow: 0px -5px 5px  #00000015;
}
.chat-box{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
}
.send-chat{
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    color: grey !important;
    position: fixed;
    right: 10px;
    z-index: 200;
}
.lni-paperclip{
    transform: rotate(35deg);
}
.send-attachment{
    font-size: 20px;
    border: none;
    outline: none;
    color: grey !important;
}
.send-emoji{
    font-size: 20px;
    border: none;
    outline: none;
    color: grey !important;
}
.chat-footer button{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.chat-footer button:hover{
    background: grey;
    color: white !important;
    transition: all .50s;
}
.active-send-btn {
    background: grey !important;
    color: white !important;
}
.chat-content{
    padding-bottom: 3.2rem;
}
.emoji-box{
    height: 0px;
}
.close-emoji-box{
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: none;
    color: grey !important;
}
.attachment-opt{
    bottom: 0;
    top: -170px;
    left: 0;
    color: black !important;
}
.attachments-slide-right{
    transform: translateX(300px);
}
.attachments{
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 3px;
    box-shadow: 0 0 10px #c9c7c6;
}
.attachment-one {
    background: blueviolet;
}
.attachment-one:hover{
    background: #631ea3;
    transition: all .50s;
}
.attachment-two {
    background: #e6314f;
}

.attachment-two:hover{
    background: #a8243a;
    transition: all .50s;
}
.attachment-three{
    background: purple;
}

.attachment-three:hover{
    background: rgb(92, 0, 92);
    transition: all .50s;
}
.attachments p{
    color: black !important;
    font-size: 10px;
}
.attachment-one p {
    transform: translateX(-12px);
}
.attachment-two p{
    transform: translateX(-5px);
}
.attachment-three p {
    transform: translateX(-4px);
}
.msg-stat {
    padding-left: 5px;
    font-size: 13px;
}
.pending{
    color: grey;
}
.failed{
    color: red;
}
.sent{
    color: green;
}