/*avatar styling. i.e online, offline, profile.etc*/

.user-avatar {
    display: inline-block;
    float: inherit;
    width: 36px;
    height: 36px;
    margin: 5px;
    line-height: 36px;
    border-radius: 50%;
    background-size: cover;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    color: white;
}

.user-avatar p {
    text-transform: uppercase !important;
}

.user-avatar.-initial {
    background-color: #a83c02;
}

.user-avatar.-large {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 32px;
}

.user-avatar.-medium {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
}

.user-avatar.-small {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}

.user-avatar.-icon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 8px;
    font-weight: normal;
}

.user-avatar.-online-ring {
    box-shadow: inset 0 0 0 2px #53b900;
}

.user-avatar.-online-bubble {
    position: relative;
}

.user-avatar.-online-bubble:after {
    content: "";
    width: 18px;
    height: 18px;
    background: #7FB54F;
    border: 3px solid #ef6d26;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 72%;
    border-radius: 50%;
}


/* Dropdown Button */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: #813105;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: fixed;
    display: inline-block;
    bottom: left;
    left: 16px;
    top: 65px;
}
.fade-out{
    display: none;
}
.fade-in{
    display: block;
}
/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .dropdown {
        position: fixed;
        display: inline-block;
        bottom: left;
        right: 215px;
        left: unset;
        top: 65px;
    }
    .hidden-panel ul {
        overflow-y: scroll !important;
        height: 100vh;
        transform: translateX(0);
    }
    .main-header {
        z-index: 1;
    }
}

@media only screen and (min-width: 800px) {
    .hidden-panel ul {
        overflow-y: scroll !important;
        height: 100vh;
        transform: translateX(13px) !important;
    }
    .notifications {
        top: 49px;
        right: -55px;
        width: 200px;
    }
    .main-dashboard,.chat-body {
        margin-top: 60px;
    }
    .send-chat{
        right: 30px !important;
    }
}

@media only screen and (max-width: 768px) {
    .main-header {
        background-color: #ef6d26;
    }
    .dropdown-content {
        top: 0px;
    }
    .main-dashboard,.chat-body {
        margin-top: 70px;
    }
}

.white {
    color: white !important;
}

.primary-color {
    color: #0e0a27ea;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/*header styling*/


.names {
    text-transform: capitalize;
    color: black;
}

.lg-menu {
    background: #ef6d26;
    position: fixed;
    z-index: 100;
}

.hidden-panel ul {
    height: 100vh;
}

.dropdown-content {
    display: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.hidden-panel ul::-webkit-scrollbar,
.dropdown-content::-webkit-scrollbar,
.app-content::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.hidden-panel ul,
.dropdown-content,
.app-content {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.app-container {
    height: 100vh;
    overflow: hidden;
}

.app-content {
    height: 100vh;
    overflow-y: scroll;
    margin-right: -13px;
}
.main-content{
    height: 100vh;
}

.hr {
    border-top: 1px solid #3a393925 !important;
}

.menu-item a:hover {
    color: white !important;
}

.large-menu a {
    text-transform: unset !important;
    font-weight: lighter !important;
}

.large-menu a:hover {
    color: unset !important;
    text-decoration: none;
}

.md-header,
.intros {
    background: #ef6d26;
}

.nav-buttons {
    font-size: 25px;
}

.fullname {
    text-transform: capitalize;
}

.error-reply {
    color: black;
}

.error-reply,
.word-options {
    font-size: small;
}

.reply {
    color: black;
    font-size: medium;
}

.search-result {
    cursor: alias;
}

.intros {
    color: white;
}
.search2 {
    width: 0px !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none !important;
    opacity: 0;
    animation-name: decrease;
    animation-duration: 1500ms;
    transform: translateX(-10px);
    z-index: 0;
    font-size: medium;
    display: none;
  }
  
   /* When the input field gets focus, change its width to 100% */
  .search-after{
    width: 350px !important; 
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;border: none !important;
    opacity: 1;
    animation-name: increase;
    animation-duration: 1500ms;
    padding-left: 45px;
    display: block;
  }
  @keyframes increase {
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
  @keyframes decrease {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
  .search-btn2{
      cursor: pointer;
      margin-top: 0px;
  }
  .search-btn-after{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    z-index: 2;
    transform: translateX(291px);
    background: #c74e0e !important;
    padding: 2px 13px 3px !important;
    height: 36px;
    margin-top: 0;
    
  }
  .body-theme button {
     color: unset; 
     background: unset;
}
  .search-btn2#search-btn-close{
      opacity: 0;
      display: none !important;
  }
  #search-btn-close{
    transform: translateX(0px) !important;
    cursor: pointer;
    margin-top: 5px;color: #ef6d26;
    z-index: 2;
  }
  .search-btn-after.swoosh{
    transform: translateX(191px) !important;
  }

  .search-main-btn{    background: #ef6d26;
    color: white;
    border: none;
    padding: 0;}
    #reply-contnII                  {
        width: 350px !important;
        transform: translateX(38px) translateY(-15px);
    }
    .user-details{
        border: 2px solid brown;
        height: 700px;
    }
    @media only screen and (min-width: 1200px){
.search-img {
    position: absolute;
    transform: translateY(-83px);
    z-index: -1;
}}
#search{padding-left: 10px;
    height: 40px;}
.filter-icon{right: -15px;
}
.filter-icon button{
    background: #ef6d26;
    border: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    height: 40px;
    color:white;
    font-size: 20px;
}
.work-wrap{
    padding: 17px !important;
}
.search::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
.search:focus{
    outline: none !important;
    border-color: #ef6d26 !important;
    box-shadow: 0 0 0 0.2rem #ef6c265d;
}
.new-msg{
    color: #f50101;
    font-size: 10px;
    top: 15px;
    transform: translateX(15px);
    z-index: 100;

}
.notifications{
    color: black;
    display: none;
    top: 50px;
}

.notifications {
    border-top: 1px solid #f5d0ba;
    cursor: pointer;
    font-weight: lighter !important;
    font-size: 1rem;
    box-shadow: 0px 8px 16px 0px #00000033;
    overflow: hidden;
    width: 200px;
}
.notifications .notice{
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #3a393925 !important;
}
.notifications .notice:first-child{
    border-top: 1px solid #f7f7f700 !important;
}
.notifications .notice:last-child{
    border-bottom: 1px solid #7e717100;
}
.notifications .notice:hover{
    background-color: #f1f1f1;
}
.search-icon {
    position: absolute;
    color: #ef6d26;
    top: 0;
    right: -26px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
}
.notice{
    padding: 10px;
}
.notice-date{
    font-size: small;
}
.read{
    opacity: 0.5;
    color: grey !important;
}
.unread{
    opacity: 1;
}
.capitalize{
    text-transform: capitalize;
}
.mark-read{
    padding-left: 10px;
    color: yellowgreen !important;
}
.menu-item li {
    list-style-type: none;
}