@media only screen and (max-width: 768px) {
    body {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        height: 100%;
    }
    main {
        padding: 20px !important;
    }
    .page-width {
        width: 100%;
    }
    .sub-headline {
        font-size: 3rem;
        font-weight: bold;
    }
    .subber-headline {
        font-size: 2.5rem;
    }
    .headline {
        font-size: 3rem;
    }
    .page-contn-image {
        background-position: right;
    }
    .wrapper-body {
        width: 100%;
    }
    .wrapper {
        width: 100%;
    }
    .wave {
        transform: rotate(90deg) scale(5) translateX(-5px);
        top: 50%;
    }
    .steps_images {
        height: 200px;
        display: flex;
        align-items: center;
    }
    .how_it_works_steps_contn {
        display: flex;
        align-items: center;
    }
    .contact-img-contn {
        height: 250px;
    }
    .head-tag {
        line-height: 1.5;
        font-size: 40px;
    }
    .help-contn,.general-contn {
        height: 295px;
    }
    .search-img {
        position: absolute;
        transform: translateY(-80px);
        z-index: -1;
    }
    .reply-contn {
        position: absolute;
        top: 55px;
    }
    .footer li,
    .free-title-footer {
        font-size: medium !important;
    }
    .work-list {
        height: 350px !important;
    }
    .opt-contn-text-content p {
        font-size: smaller;
    }
    /*.work-wrap {
        padding-bottom: 5.5rem !important;
    }*/
        
    .active-exp {
        background: #ef6c26;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px !important;
        padding-bottom: 10px !important;
        border-radius: 10px;
        transition: all 150ms;
        margin-top: 5px;
        color: white;
        cursor: default !important;
    }

    .active-exp button {
        background: #1d154e !important;
    }

    .active-exp button:hover {
        background: #1d154e !important;
    }

    .active-exp a {
        font-family: 'poppins bold' !important;
        color: white !important;
    }

    .active-exp a:hover {
        color: white !important;
    }

    .active-exp div {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .content {
        padding-bottom: 0 !important;
    }

    .large-exp {
        font-size: x-large;
        line-height: 35px;
    }

    .confused-contn h2,.confused-contn h3 {
        font-size: x-large !important;
    }

    .confused-contn h4 {
        font-size: larger !important;
    }
}

@media only screen and (max-width: 400px) {
    .sub-headline {
        font-size: 2rem;
        font-weight: bold;
    }
    .subber-headline {
        font-size: 1.5rem;
    }
    .footer-nav {
        font-size: medium !important;
    }
    .search-img {
        position: absolute;
        transform: translateY(-75px);
        z-index: -1;
    }
}